.navbar-container{
    display: flex;
    background-color:rgb(9, 49, 168);
    justify-content: space-around;
    flex-wrap: wrap;
}

.link{
    color: whitesmoke;
    font-size: large;
    text-decoration: none;
    padding: 0.75rem 2rem;
}

.link:hover{
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.82);
    text-decoration: none;
}
